<h1>Blog</h1>

<section class="blog-posts">
  <article>
    <h2>Blog Post 1</h2>
    <p>Content of blog post 1...</p>
  </article>

  <article>
    <h2>Blog Post 2</h2>
    <p>Content of blog post 2...</p>
  </article>

  <article>
    <h2>Blog Post 3</h2>
    <p>Content of blog post 3...</p>
  </article>
</section>
