<h1 class="page-title">Blog</h1>

<div class="card">
  <p class="lead">Thoughts, ideas, and lessons learned as I explore new technologies and build new things.</p>
</div>

<% blog.forEach(post => { %>
  <div class="card blog-post">
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
  </div>
<% }) %>
