<h1 class="page-title">Blog</h1>

/--- Blog content.  Loaded from data.json for now, eventually will include a link to a page for creating posts, storing then in dynamoDB, the loading them from there --/
<div class="card">
  <p class="lead">Thoughts, ideas, and lessons learned as I explore new technologies and build new things.</p>
</div>

<% blog.forEach(post => { %>
  <div class="card blog-post">
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
  </div>
<% }) %>
